.call-to-action {
  margin-top: 180px;

  &__container {
    padding: 70px 220px;
    background: #ffffff;
    box-shadow: -1px 25px 20px #f2f2f2;
    border-radius: 5px;
    text-align: center;
  }

  &__title {
    margin: 0 0 2rem;
  }

  &__marker {
    color: #66bb6a;
  }

  &__button {
    margin: 0 auto;
  }
}