.footer {
  margin-top: 120px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.footer-link-column__nav {
  display: flex;
  flex-direction: column;
}

.footer-link-column {
  font-size: 16px;
  line-height: 40px;
}

.footer-link-column__title {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.footer-link-column__nav-item {
  text-decoration: none;
  color: #607d8b;
}

.footer-blog {
  padding: 50px;
  background-color: #66bb6a;
  border-color: #66bb6a;
  border-radius: 5px;
  color: #eff7e7;
  width: 280px;
  height: 258px;
}

.footer-blog__title {
  line-height: 40px;
  margin: 0;
}

.footer-blog__contact {
  font-size: 16px;
  line-height: 24px;
}

.footer-blog__email {
  color: #eff7e7;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.footer-blog__signin {
  margin-top: 15px;
  border: 1px solid #66bb6a;
}

.footer-blog__signin .button_icon_user {
  fill: #66bb6a;
}

.footer__bottom {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #f7f7f7;
}

.footer__logo {
  background-size: cover;
  background-position: center;
  background-image: url(/src/images/logo.svg);
  background-repeat: no-repeat;
  width: 123px;
  height: 39px;
}

.footer__copyright {
  color: #607d8b;
  font-size: 14px;
}
