.footer {
  margin-top: 120px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }

  &-link-column {
    font-size: 16px;
    line-height: 40px;

    &__nav {
      display: flex;
      flex-direction: column;
    }

    &__nav-item {
      text-decoration: none;
      color: #607d8b;
    }

    &__title {
      font-size: 16px;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &-blog {
    padding: 50px;
    background-color: #66bb6a;
    border-color: #66bb6a;
    border-radius: 5px;
    color: #eff7e7;
    width: 280px;
    height: 258px;

    &__title {
      line-height: 40px;
      margin: 0;
    }

    &__contact {
      font-size: 16px;
      line-height: 24px;
    }

    &__email {
      color: #eff7e7;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }

    &__signin {
      margin-top: 15px;
      border: 1px solid #66bb6a;
    }

    &__signin .button_icon_user {
      fill: #66bb6a;
    }
  }

  &__bottom {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #f7f7f7;
  }

  &__logo {
    background-size: cover;
    background-position: center;
    background-image: url(/src/images/logo.svg);
    background-repeat: no-repeat;
    width: 123px;
    height: 39px;
  }

  &__copyright {
    color: #607d8b;
    font-size: 14px;
  }
}
