#home {
  background-image: url(/src/images/main-illustration.svg),
                    url(/src/images/main-background.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, left bottom;

  @media (min-width: 46em) {
    background-size: $bp-med, cover;
  }

  @media (min-width: 50em) {
    background-size: $bp-large, cover;
  }

  @media (min-width: 73em) {
    background-size: $bp-xl, cover;
  }
}