.how-it-works {
  margin-top: 117px;

  &__container {
    background-color: #66bb6a;
    background-image: url(/src/images/how-it-works-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0 50px;
    color: #fff;
    padding: 100px;
    position: relative;
  }

  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 14px;
  }

  &__description {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    color: #e8f5e9;
  }

  &__features {
    margin-top: 80px;
    list-style: none;
    padding: 0;
  }

  &-feature {
    display: flex;

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin: 0;
      flex: 2;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      flex: 3;
      color: #e8f5e9;
    }
  }
}
