.opportunities {
  margin-top: 228px;

  &__container {
    padding-bottom: 140px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #f7f7f7;
  }

  &__title {
    text-align: center;
    margin-bottom: 14px;
  }

  &__description {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  &__list {
    margin-top: 62px;
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__list-item {
    flex: 1;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &-item {
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 13px 20px #f0f2f4;
    height: 328px;

    &_green {
      background-color: #66bb6a;
    }

    &_green .opportunities-item__title {
      color: #fff;
    }

    &_green .opportunities-item__description {
      color: #fff;
    }

    &__icon-wrapper {
      height: 64px;
    }

    &__icon {
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &_connect {
        background-image: url(/src/images/opportunities-connect-icon.svg);
        height: 64px;
        width: 78px;
      }

      &_grow {
        background-image: url(/src/images/opportunities-grow-icon.svg);
        height: 32px;
        width: 79px;
      }

      &_social {
        background-image: url(/src/images/opportunities-social-icon.svg);
        height: 56px;
        width: 75px;
      }
    }

    &__title {
      margin-bottom: 22px;
    }
  }
}
